.images-format {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 90px;
    
}

.images-format > img {
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.h1-format {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    color: #333333;
}

.row-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    gap: 0px;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    min-height: 70hv;
}

.graphics-info {
    font-size: 25px;
    font-weight: bold;
    color: #333333;
}

.graphics-format {
    height: 100px;
    gap: 90px;
    display: flex;
    justify-content: start;
    align-self: center;
}
.graphics-format > img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.row-2 {
    display: flex;
    flex-direction: column;
    gap: 40px
}

/*
.p1 {
    border: 1px solid black;
}

.p2 {
    border: 1px solid black;
}
*/

.container-esquerdo {
    display: flex;
    flex-direction: column;
    gap: 80px;
    flex: 3;
    padding: 40px;
}
