form {
    border:  1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

#sign {
    border: 1px solid black;
    border-radius: 2px;
    font-size: 10px;
    padding: 0px 5px;
    text-decoration: none;
}