* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #199fd6;
    background-color: #199fd6;
    height: 60px;
}

.menu-superior #logo {
    padding: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

.links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 20px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.barra-lateral-esquerda {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    justify-items: center;
    margin: 20px
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(178, 157, 255);
    color: black;
}
